((* set datos = cell.outputs[0].metadata.datos *))
    \begin{figure}
      \centering
  ((* for vuelo in datos['vuelos'][:2] *))
        \includegraphics[width=7.5cm,height=8cm,keepaspectratio]{BIOMASA/IMAGENES/biomasa_((( vuelo )))_zona((( datos['zona'] ))).png}
  ((* endfor *))
      \caption{A la izqda ((( datos['vuelos'][0] ))) a la dcha ((( datos['vuelos'][1] )))}
  \end{figure}

    \begin{figure}
      \centering
  ((* for vuelo in datos['vuelos'][2:] *))
        \includegraphics[width=7.5cm,height=8cm,keepaspectratio]{BIOMASA/IMAGENES/biomasa_((( vuelo )))_zona((( datos['zona'] ))).png}
  ((* endfor *))
      \caption{A la izqda ((( datos['vuelos'][2] )))}
  \end{figure}
