((*- extends 'display_priority.j2' -*))

%===============================================================================
% Support blocks
%===============================================================================

% Displaying simple data text
((* block data_text *))
    ((* if output.data['text/plain'] == '\'scape\'' *))
  ((* elif output.metadata['tipo'] == 'portada' *))
  ((* include 'portada.tex.j2' *))
  ((* elif output.metadata['tipo'] == 'descripcion' *))
  ((* include 'descripcion.tex.j2' *))
  ((* elif output.metadata['tipo'] == 'evolucion' *))
  ((* include 'evolucion.tex.j2' *))
  ((* elif output.metadata['tipo'] == 'biomasa' *))
  ((* include 'biomasa.tex.j2' *))
  ((* elif output.metadata['tipo'] == 'imagen' *))
  ((* include 'imagen.tex.j2' *))
  ((* elif output.metadata['tipo'] == 'imagen_transecto' *))
  ((* include 'imagen_transecto.tex.j2' *))
  ((* elif output.metadata['tipo'] == 'imagen_duo' *))
  ((* include 'imagen_duo.tex.j2' *))
  ((* elif output.metadata['tipo'] == 'tabla_mc' *))
  ((* include 'tabla_mc.tex.j2' *))

  ((* else *))
    \begin{Verbatim}[commandchars=\\\{\}]
((( output.data['text/plain'] | escape_latex | ansi2latex )))
    \end{Verbatim}
    ((* endif *))
((* endblock data_text *))

% Display python error text with colored frame (saves printer ink vs bkgnd)
((* block error *))
    \begin{Verbatim}[commandchars=\\\{\}, frame=single, framerule=2mm, rulecolor=\color{outerrorbackground}]
(((- super() )))
    \end{Verbatim}
((* endblock error *))
% Display error lines with coloring
((*- block traceback_line *))
((( line | escape_latex | ansi2latex )))
((*- endblock traceback_line *))

% Display stream ouput with coloring
((* block stream *))
    \begin{Verbatim}[commandchars=\\\{\}]
((( output.text | escape_latex | ansi2latex )))
    \end{Verbatim}
((* endblock stream *))

% Display latex
((* block data_latex -*))
    ((( output.data['text/latex'] | strip_files_prefix )))
((* endblock data_latex *))

% Display markdown
((* block data_markdown -*))
  ((* if output.metadata['tipo'] == 'texto' *))
    ((( output.data['text/markdown'] | citation2latex | strip_files_prefix | convert_pandoc('markdown+tex_math_double_backslash', 'latex'))))
  ((* else *))
    \begin{center}
    \rowcolors{2}{white}{lightgray!25}
    ((( output.data['text/markdown'] | citation2latex | strip_files_prefix | convert_pandoc('markdown+tex_math_double_backslash', 'latex'))))
    \end{center}
  ((* endif *))
((* endblock data_markdown *))

% Default mechanism for rendering figures
((*- block data_png -*))((( draw_figure(output.metadata.filenames['image/png'], output, cell) )))((*- endblock -*))
((*- block data_jpg -*))((( draw_figure(output.metadata.filenames['image/jpeg'], output, cell) )))((*- endblock -*))
((*- block data_svg -*))((( draw_figure(output.metadata.filenames['image/svg+xml'], output, cell) )))((*- endblock -*))
((*- block data_pdf -*))((( draw_figure(output.metadata.filenames['application/pdf'], output, cell) )))((*- endblock -*))

% Draw a figure using the graphicx package.
((* macro draw_figure(filename, output, cell) -*))
((* set filename = filename | posix_path *))
((*- block figure scoped -*))
    \begin{center}
    \adjustimage{max size={0.9\linewidth}{0.62\paperheight}}{((( filename )))}
    \end{center}
    { \hspace*{\fill} \\}
((*- endblock figure -*))
((*- endmacro *))

% Redirect execute_result to display data priority.
((* block execute_result scoped *))
    ((* block data_priority scoped *))
    ((( super() )))
    ((* endblock *))
((* endblock execute_result *))

% Render markdown
((* block markdowncell scoped *))
    ((( cell.source | citation2latex | strip_files_prefix | convert_pandoc('markdown+tex_math_double_backslash', 'json',extra_args=[]) | resolve_references | convert_pandoc('json','latex'))))
((* endblock markdowncell *))

% Don't display unknown types
((* block unknowncell scoped *))
((* endblock unknowncell *))
