\begin{figure}
    \centering
    \adjustimage{max size={0.9\linewidth}{0.72\paperheight}}{FINALES/IMAGENES/((( output.metadata['nombre'] ))).png}
    \caption{((( output.metadata['caption'] )))}
\end{figure}

