\begin{titlepage}
\centering
{\scshape\Huge Plan de Actuaciones Municipales contra Incendios Forestales \par}
\begin{figure}
    \centering
    \includegraphics[width=7cm]{FINALES/IMAGENES/((( output.metadata['municipio'].split(' / ')[0] | upper )))/portada.png}
\end{figure}

{\scshape\Large MUNICIPIO DE ((( output.metadata['municipio'] ))) \par}
\vfill
{\Large Autores: \par}
{\Large Nahia Agote Goyalde \par}
{\Large Bernardo Fontana Campos \par}
\vfill
\begin{figure}
    \includegraphics[height=2cm]{../BRUTOS/LOGOS/Lurgeroa_Logoa.jpg}
    \hfill
    \includegraphics[height=2cm]{../BRUTOS/LOGOS/((( output.metadata['municipio'].split(' / ')[0] )))/escudo.png}
    \hfill
    \Large{Octubre 2025} 
\end{figure}
\end{titlepage} 
