\begin{titlepage}
\centering
{\scshape\Huge Análisis de datos LiDAR en la Sierra de Leyre\par}
\begin{figure}
    \centering
    \includegraphics[width=7cm]{FINALES/IMAGENES/portada.png}
\end{figure}

\vfill
{\Large Autores: \par}
{\Large Manuel Tejada Muñoz \par}
{\Large Bernardo Fontana Campos \par}
\vfill
\large{Diciembre 2025}
\end{titlepage} 
