\begin{center}
\begin{table}[H]
  \begin{tabular}{m{2.5cm}m{1.5cm}m{8cm}m{2cm} cclr}
    \toprule
Grupo                                               & Modelo & Descripción & Carga de biomasa           \\ \hline
    \midrule
\multirow{3}{*}{Pastos}                             & 1                          &  Pastizal continuo fino, seco y bajo, con altura por debajo de la rodilla. El matorral o el arbolado cubren menos de un tercio de la superficie. & 1-2 T/ha\\ \cline{2-4}
                                                    & 2                          & Pastizal con presencia de matorral o arbolado claro que cubren más de un tercio de la superficie sin llegar a dos tercios. & 5-10 T/ha \\ \cline{2-4}
                                                    & 3                          & Pastizal o cultivo herbáceo de más de un metro de altura. & 4-6 T/ha \\ \hline
\multirow{4}{*}{Matorral}                           & 4                          &  Matorral o arbolado joven muy denso de unos dos metros de altura. Continuidad horizontal y vertical del combustible.  & 25-35 T/ha                    \\ \cline{2-4}
                                                    & 5                          &  Matorral denso pero bajo, altura no superior a 0,6 metros. Con cargas ligeras de hojarasca del mismo matorral, que contribuye a propagar el fuego con vientos flojos & 5-8 T/ha                     \\ \cline{2-4}
                                                    & 6                          & Matorral más viejo que en el modelo 5, con alturas entre 0,6 y 1,2 metros. Los combustibles vivos son más escasos y dispersos.       & 10-15 T/ha                \\ \cline{2-4}
                                                    & 7                          & Matorral inflamable, de 0,6 a 2 metros de altura, que propaga el fuego bajo el arbolado.   & 10-12 T/ha                    \\ \hline
\multirow{2}{*}{Hojarasca}                          & 8                          & Hojarasca en bosque denso de coníferas o frondosas.      &  7-9 T/ha               \\ \cline{2-4}
                                                    & 9                          & Hojarasca en bosque denso de coníferas o frondosas, que se diferencia del modelo 8 en que forma una capa esponjada poco compacta, con mucho aire interpuesto    & 7-9 T/ha                   \\ \hline
\end{tabular}
\end{table}
\end{center}
